@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --pink: #ff74a4;
    --violet: #9f6ea3;
    --lightblack: #515C6F;
    --white: #ffffff;
    --darkwhite: #cecaca;
    --pinkshadow: #ffcbdd;
    --lightbshadow: rgba(0,0,0,0.15);
}

.outer {
    width: 100%;
    height: 110vh;
    padding: 1.5rem;
}

body {
    background-image: linear-gradient(to right, rgb(55, 65, 81), rgb(17, 24, 39), rgb(0, 0, 0));
    max-width: 95vw;
    color: var(--white);
}

.box {
    display: flex;
    font-family: 'Roboto', sans-serif;
}

i {
    font-size: 20px;
}

.red {
    color: var(--red);
}

.yellow {
    color: var(--yellow);
}

.green {
    color: var(--green);
}

mark {
    color: var(--white);
    background-color: inherit;
}

/* Sidebar */

.nav {
    display: flex;
    justify-content: space-between;
    width: 350px;
    flex: 1;
    margin-top: 3.5vh;
}

.title {
    display: flex;
    align-items: center;
    width: 65%;
    justify-content: space-between;
}

.title h3 {
    font-size: 30px;
}

.title i {
    font-size: 40px;
    border-radius: 150px;
    color: var(--white);
    padding: 0.25rem;
}

.content {
    display: flex;
    align-items: center;
    width: 65%;
    justify-content: space-between;
}

/* Main */

.main {
    display: flex;
    flex: 2;
    flex-direction: column;
}

.bar {
    display: inline-flex;
    justify-content: space-around;
    width: 90%;
    margin-bottom: 1rem;
}

.direction i{
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 3.5vh;
}

.search {
    display: flex;
    align-items: center;
    background-color: var(--white);
    height: 4vh;
    width: 60%;
    padding: 1rem;
    border-radius: 100px;
}

.search input {
    background-color: var(--white);
    width: 90%;
    padding: 0.3rem;
    margin-left: 0.4rem;
    border: none;
    outline: 0;
}

.banner {
    background: url(images/main/banner.jpg) no-repeat;
    margin-top: 3rem;
    margin-right: 2rem;
    color: var(--white);
}

.banner-1 {
    display: flex;
    align-items: center;
    padding: 0.5rem;    
}

.banner-1 h1 {
    margin-left: 1rem;
}

.banner-2 {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.play {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
}

.song {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
}

.song a {
    text-decoration: none;
    font-family: inherit;
    color: inherit;
}
/* Sidebar-2 */

.sidebar-2 {
    width: 450px;
    height: 100vh;
    flex: 1;
}

.recents {
    display: flex;
    justify-content: space-between;
}

.songs {
    height: 80vh;
}
.song-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.current img {
    width: 20vw;
}

.recent img {
    width: 100px;
    height: 100px;
}

.recent {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.song-info {
    display: flex;
    flex-direction: column;
}

.user {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.user img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}